@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
h1{
  margin-top: 1em;
  color:#000;
}
h3{
  margin-top: 0.5em;
  padding: 0.25em;
  border-style: solid;
  box-shadow: 2px 2px grey;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #DAAD86;
}
.btn{
  border-color: #774b24;
  border-style: solid;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #DAAD86;
}
em{
	font-weight: bolder;
}

.book-title{
  background-color: #DAAD86;
  padding: 5px;
  font-family: 'Vast Shadow', cursive;
  font-size: 32px;
}



pre.cx{
overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
}
code.ex{
    counter-increment: line;

}


code.ex::before{

    content: counter(line, decimal-leading-zero);
    /* Border to separate line numbers from code
    border-right-style: dashed;
    border-right-width: thin; */
    padding-right: 1em;
    color: #774b24;

}

code.ex:after{
	content: "\0000a";
}

code.ex:before{
    -webkit-user-select: none;
}

.toc{
  background-color: #DAAD86;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  width:100%;
  font-family: monospace;

}
a.ch-index:link{
  color: black;
}
a.ch-index:visited{
  color: grey;
}

a.ch-index:hover{
  font-weight: bolder;
}

.jumbotron{
  padding: 10px;
}

.console{
	border: thin solid;
  line-height: 1em;
  background-color: #F0F3F3;
  box-shadow: 2px 2px grey;
  font-family: monospace;
  padding: 0.5em;
}

.mono{
	font-family: Consolas, monospace;
	font-weight: bolder;

}
.grey{
  background-color: #F0F3F3;
  font-weight: lighter;
}
.tip{
	background-color: #dad786;
	padding: 4px;
  font-style: italic;
}
.tip:before{
  content: "\26a0"; /*exclamation symbol*/
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
}

#about{

}
/*Phone styling*/
@media only screen and (max-width: 800px) {
  body {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer{
    height: 40px;
  }
  .header{
    height: 20px;
  }
  h1{
    font-size: 16px;
  }
  h2{
    font-size: 16px;
  }
  .book-title > img{
    display: none;
  }
  .container-fluid{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}
