@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


body{
	background-color: #FEF9E7;
	font-family: 'Open Sans', sans-serif;
	overflow-
}


code{
    counter-increment: line;
		text-overflow: ellipsis;
}

code:before{
    content: counter(line, decimal-leading-zero);
    /* Border to separate line numbers from code
    border-right-style: dashed;
    border-right-width: thin; */
    padding-right: 1em;

}

code:after{
	content: "\0000a";
}

code:before{
    -webkit-user-select: none;
}
button {
  background-color: white;
  color: black;
	font-family: Consolas, monospace;
	font-size: 20px;
  border: 2px solid #000;
	margin: 10px;
	border-radius: 8px;
}

.main-div{
	top:24px;
	margin-left:5%;
	margin-right: 5%;
	background-color: white;
	padding: 5%;
	border-style: ridge;
	border-color: #7D6608;
	border-radius: 12px;
}

.mono{
	font-family: Consolas, monospace;
	font-weight: bold;
}

.single-output{
	font-family: Consolas, monospace;
	font-weight: normal;
}
.cx{
  border: thin solid;
  line-height: 1em;

  /*For adding line numbers to code*/
  counter-reset: line;
  background-color: #F4ECF7;
  padding: 0.5em;
  box-shadow: 2px 2px grey;
  font-family: Consolas, monospace;
  padding: 0.5em;
}

.console{
	border: thin solid;
  line-height: 1em;
  background-color: #F0F3F3;
  box-shadow: 2px 2px grey;
  font-family: Consolas, monospace;
  padding: 0.5em;
}
.chap-num{
	color: #F4ECF7;
}

.chap-nav{
	  background-color: #7D6608;
		position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
}
.title-header{
	background-color: #7D6608;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;

}

.title-font{
	padding: 5px;
	font-size: 16px;
	text-shadow: 2px 2px #000;
	color: #FFF;
	font-family: Consolas, monospace;
}
